h1 {
         background: blue;
         color: white;
  }

h2 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        padding: 2px;
        font-size: 22px;
        text-align: center;
    }

  nav{
         background-color: #F9E79F;
         border-radius: 10px;
         padding: 10px;
   }

  table {
        border-collapse: collapse;
        border: 1px solid black;
        border-radius: 10px;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        padding: 2px;
      }

  th, td {
        border: 1px solid black;
        padding: 15px;
        border-bottom: 1px solid #ddd;
      }

   th {
        background-color: #FCF3CF;
        color: black;
        text-align: centre;
        padding: 15px;
      }
   tr.today {
       font-size: 12px;
       background-color: #F2F3F4;

   }

    tr.tomorrow {
       font-size: 12px;
       background-color: #F2D7D5;
   }

  tr:hover {background-color: #E8F8F5;}

/* unvisited link */
  a:link {
    color: #273746;
  }

/* visited link */
  a:visited {
    color: #1D8348;
  }

/* mouse over link */
  a:hover {
  color: hotpink;
  }

/* selected link */
  a:active {
  color: blue;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    }

  p {
     font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
     padding: 10px;
     font-size: 18px;
     /*text-align: left;*/
    }
